{% extends "base.html" %}
{% block content %}

<form method="POST" id="post-form">
  {% csrf_token %}
  <div class="fieldWrapper">
    <label for="username">Username : </label>
    <input id="username"> 
  </div>
  <div class="fieldWrapper">
    <label for="password">Password : </label>
    <input id="password"> 
  </div>
  <div class="fieldWrapper">
    <label for="server_ip">server ip : </label>
    <input id="server_ip"> 
  </div>
  <div class="fieldWrapper">
    <label for="port">port : </label>
    <input id="port"> 
  </div>
  <div class="fieldWrapper">
    <label for="start_date">start date : </label>
    <input id="start_date"> 
  </div>
  <div class="fieldWrapper">
    <label for="end_date">end date : </label>
    <input id="end_date"> 
  </div>
  <input type="submit" value="Post" class="tiny button">
</form>


<a href="#" class="create">등록</a>
<br>
<br>

<div id="history">
</div>
{% endblock %}

<script>
{% block domready %}
// https://realpython.com/django-and-ajax-form-submissions/
function create_chart() {
    console.log("create chart is working!") // sanity check
    $.ajax({
      type: "POST",
      url: "{% url 'dbconn:create_chart' %}",
      data : {
        "username": $('#username').val(),
        "password": $('#password').val(),
        "server_ip": $('#server_ip').val(),
        "port": $('#port').val(),
        "start_date": $('#start_date').val(),
        "end_date": $('#end_date').val(),
      },
      success : function(history){
        console.log(history);
        $('#history').append(
          `${history.db_conn} | ${history.start_date} ~ ${history.end_date}<br>`
        );
      },
      error: function(error){
        console.log("error");
        console.log(error);
      }
    })

};


$('#post-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_chart();
    
});

$.ajax({
  type: "GET",
  url: "{% url 'dbconn:history_list' %}",
  success: function(data){

    data.map(history => {
        $('#history').append(
          `${history.db_conn} | ${history.start_date} ~ ${history.end_date}<br>`
      )
      });

    ;
  },
  error: function(error){
    console.log("error");
    console.log(error);
  }
})
{% endblock %}
</script>